.git
.agents
.codex
dist-newstyle
data
test-output

rinha-de-backend-2026/participants
rinha-de-backend-2026/misc
rinha-de-backend-2026/docs
rinha-de-backend-2026/test
rinha-de-backend-2026/data-generator
