{
  "participants": ["Your Name"],
  "social": ["https://github.com/your-user"],
  "source-code-repo": "https://github.com/your-user/helheim",
  "stack": ["haskell", "warp", "haproxy"],
  "open_to_work": false
}
